img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Ubuntu';
    font-size: 17px;
    color: #999999;
    min-width: 340px;
}

h3 {
    font-family: 'Montserrat';
    font-size: 30px;
    color: #999999;
    text-transform: uppercase;
}

.link {
    color: #33cccc;
    font-family: 'Montserrat';
    font-weight: 700;
}

.large {
    font-size: 22px;
}

.header {
    height: 100vh;
    background: url('../img/header_bg.jpg') center center;
    background-size: cover;
}

.header .center {
    margin: auto;
    max-width: 600px;
    text-align: center;
}

.header .row {
    height: 100vh;
}

.header .center h1 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

.header .center p {
    font-size: 20px;
    color: #fff;
}

.header .btn {
    margin: 0 15px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    padding: 10px 25px;
    background: #7ea4e8;
}

.speakers {
    padding-top: 110px;
    padding-bottom: 115px;
}

.speakers .section-tab {
    border: 3px solid #ececec;
    border-radius: 2px;
}

.speakers .section-tab .nav-link {
    text-transform: uppercase;
    color: #9999cc;
    background: #ececec;
    font-weight: 700;
    font-size: 18px;
}

.speakers .section-tab .nav-link.active {
    background: #fff;
    color: #999999;
}

.speakers .tab-pane {
    padding: 30px 45px 40px 20px;
}

.speakers .tab-pane .cloud {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.speakers .tab-pane .cloud ul {
    list-style: none;
    padding-left: 0;
}

.speakers .tab-pane .cloud .fa {
    color: #33cccc;
    margin-right: 3px;
}

.speakers .tab-pane .cloud li {
    padding-bottom: 12px;
}

.speakers .front {
    border-radius: 50%;
    position: absolute;
}

.speakers .back {
    background: #6bd8d3;
    width: 140px;
    height: 140px;
    display: inline-block;
    border-radius: 50%;
}

.speakers .back .fa {
    font-size: 40px;
    color: #fff;
    line-height: 140px;
}

.speakers .item {
    position: relative;
    padding-bottom: 70px;
}

.speakers .front:hover {
    opacity: .5;
}

.speakers .front:hover~h4 {
    color: #33cccc;
}

.event {
    border-top: 8px solid #f0f0f1;
    padding-top: 110px;
    padding-bottom: 115px;
}

.event .nov {
    border: 3px solid #ececec;
    border-radius: 3px;
}

.event .nov .nav-tabs {
    background: #ececec;
}

.event .nov .nav-tabs .nav-link {
    font-weight: 700;
    color: #666699;
}

.event .nov .tab-pane {
    padding-top: 25px;
    padding-bottom: 25px;
}

.event .nov .title {
    padding-bottom: 10px;
}
.event .nov .title .fa {
    color: #2cc7c1;
}
.event .video {
    width: 570px;
    height: 325px;
}
.event .nov .title .time {

    margin-left: 10px;
    margin-right: 25px;
    padding-left: 7px;
    padding-right: 7px;
    background: #2cc7c1;
    color: #fff;
}
.event .carousel-indicators li {
    width: 11px;
    height: 11px;
    border: 2px solid #66cccc;
    border-radius: 50%;
    background: transparent;
}

.event .carousel-indicators li.active {
    background: #66cccc;

}

.event .carousel-indicators{
    margin: 0;
    justify-content: flex-start;
    left: 10px;
}
.speakers .container .edward {
    padding-bottom: 15px;
}
.speakers .container .edward h3 {
    text-align: center;
}
.speakers .container .edward p {
    text-align: center;
}

.speakers .container .register {
    margin: auto;
}
.speakers .container .register p {
    font-size: 22px;
    font-family: 'Ubuntu';
    text-align: center;

}
.speakers .container .register .btn {
    margin-left: 195px;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.event .text-event h4 {
    font-size: 20px;

}
.event .text-event p {
    font-size: 16px;
}

.event .prom h4 {
    font-size: 20px;
}
.form {
    background: #f3f3f3;
     padding-top: 150px;
     padding-bottom: 155px;
}
.form h2{
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
   
}
.form p {
    font-size: 22px;
    font-family: 'Ubuntu';
    padding-bottom: 55px;
    
}
.form #orm {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.form #orm .btn {
    text-transform: uppercase;
    font-family: 'Montserrat';
    background: #7ea4e8;
    border: none;
}
.map .sponsors {
    padding-top: 50px;
    padding-bottom: 60px;
}

 .form #orm .btn {
    padding-left: 25px;
    padding-right: 25px;
}
.footer {
    background: #525b64;
    padding-top: 90px;

}
.footer h3 {
    font-size: 25px;
    font-family: 'Ubuntu';
    font-weight: normal;
    color: #fff;
    text-transform: none;
}
.footer p {
    font-size: 16px;
    font-family: 'Ubuntu';

}
.footer a {
    padding-right: 0px;
}
.footer .col-lg-6  {
    margin-left: 50px;
}
.foot {
    background: #3f464c;
    padding-top: 15px;
    padding-bottom: 10px;
}
.foot p {
    font-size: 14px;
    font-family: 'Ubuntu';
    color: #cacaca;
}






@media(max-width: 992px) {
    .form .forms .form-control{
        margin-bottom: 20px;
    }
    .form #orm .btn {
        width: auto;
    }
}