header {
  background: transparent url("../img/headerbgpng.png") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 100vh;
}

header .navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

header .navbar .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

header .navbar .nav-item .nav-link:hover {
  color: #fff;
}

header .navbar .nav-item .nav-link::after {
  content: '';
  display: block;
  height: 3px;
  background: #ff3366;
  width: 0;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  margin: auto;
}

header .navbar .nav-item .nav-link:hover::after {
  width: 100%;
}

header .iphone {
  margin-top: 90px;
}

header .iphone .phone {
  height: 600px;
}

header .iphone h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  padding-top: 50px;
}

header .iphone p {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
}

header .iphone .btn {
  background: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  font-size: 18px;
  color: #fff;
  padding: 7px 40px;
}

header .iphone .btn .fa {
  font-size: 25px;
  font-weight: 300;
}

header .iphone .btn:hover {
  background: #fff;
  color: #585b60;
}

.clean {
  padding: 220px 0;
  background: #34363a;
}

.clean .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 125px;
}

.clean .item.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.clean .item.reverse .decs {
  text-align: left;
}

.clean .item.reverse .fa {
  margin-right: 10px;
  margin-left: 0;
}

.clean .item:last-child {
  margin-bottom: 0;
}

.clean .item .decs {
  text-align: right;
}

.clean .item .decs h6 {
  color: #fff;
  font-size: 22px;
}

.clean .item .decs p {
  color: #9da6ac;
  font-size: 17px;
  font-weight: 300;
}

.clean .item .fa {
  color: #fff;
  font-size: 30px;
  margin-left: 10px;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 10px;
}

.video {
  position: relative;
}

.video video {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  display: block;
}

.video .box {
  position: absolute;
  top: 43%;
  width: 100%;
  text-align: center;
}

.video .box .fa {
  color: #fff;
  font-size: 50px;
}

.video .box p {
  font-size: 30px;
  color: #fff;
}

.description {
  background: #34363a;
  padding: 120px 0;
}

.description h2 {
  font-size: 40px;
  color: #fff;
}

.description p {
  color: #9da6ac;
  font-weight: 300;
  margin-bottom: 40px;
}

.description .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.description .item .fa {
  color: #ff3366;
  font-size: 30px;
  margin-right: 15px;
}

.description .item h6 {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}

.description .item p {
  font-size: 16px;
  margin-bottom: 15px;
}

.player {
  padding: 140px 0;
  background: transparent url("../img/cycle.png") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}

.descrip {
  background: #34363a;
  padding-top: 90px;
  padding-bottom: 90px;
}

.descrip h3 {
  font-size: 40px;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 20px;
}

.descrip p {
  font-size: 17px;
  color: #9da6ac;
  font-weight: 300;
}

.descrip p a {
  color: #ff3366;
}

.slider {
  padding: 130px 0;
  background: #ff3366;
}

.slider h3 {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.slider p {
  color: #e9ebec;
  font-size: 19px;
  padding-bottom: 60px;
  text-align: center;
}

.slider .owl-dots {
  text-align: center;
  margin-top: 60px;
}

.slider .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  background: #ff5e86;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 9px;
}

.slider .owl-dots .owl-dot.active {
  background: #fff;
}

.pricing {
  background: #34363a;
  padding: 90px 0;
}

.pricing h2 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.pricing .card .card-header {
  position: relative;
}

.pricing .card .card-header .popular {
  background: #ff3366;
  position: absolute;
  right: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  padding: 3px 3px 3px 15px;
  -webkit-border-top-left-radius: 20px;
          border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
          border-bottom-left-radius: 20px;
  display: none;
}

.pricing .card .card-header h4 {
  color: #585b60;
  font-size: 27px;
}

.pricing .card .card-header h5 {
  font-size: 17px;
  color: #6e737b;
}

.pricing .card .card-header p {
  font-size: 15px;
  color: #9da6ac;
  font-weight: 300;
}

.pricing .card .card-body ul {
  list-style: none;
  padding-left: 10px;
}

.pricing .card .card-body ul li {
  font-size: 16px;
  color: #606162;
  line-height: 40px;
}

.pricing .card .card-body ul li:before {
  content: '\2714';
  color: #ff3366;
  font-size: 18px;
  padding-right: 10px;
}

.pricing .card .card-footer h3 {
  font-size: 25px;
  color: #9da6ac;
}

.pricing .card .card-footer h3 .usd {
  color: #585b60;
}

.pricing .card .card-footer h3 .number {
  font-size: 50px;
}

.pricing .card .card-footer .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing .card .card-footer .item .btn {
  background: #ff3366;
  color: #fff;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #cc2952;
}

.pricing .card .card-footer p {
  font-size: 15px;
  color: #9da6ac;
}

.card-active {
  outline: 3px solid #ff3366;
}

.bottom-slider {
  background: transparent url("../img/bg.png") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 130px;
  padding-bottom: 70px;
}

.bottom-slider p {
  color: #fff;
  font-size: 19px;
  line-height: 23px;
}

.bottom-slider .author {
  font-size: 17px;
}

.bottom-slider .owl-dots {
  text-align: center;
  margin-top: 60px;
}

.bottom-slider .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  background: #bf95b6;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 9px;
}

.bottom-slider .owl-dots .owl-dot.active {
  background: #fff;
}

.sponsor {
  background: #2d2f32;
  padding-top: 90px;
  padding-bottom: 70px;
}

.sponsor h2 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding-bottom: 40px;
}

.sponsor img {
  text-align: center;
}

.app {
  background: #34363a;
}

.app h3 {
  font-size: 40px;
  color: #fff;
  padding-top: 100px;
}

.app p {
  font-size: 19px;
  color: #9da6ac;
  padding-bottom: 50px;
}

.app img {
  padding-bottom: 100px;
}

.subscribe {
  background: transparent url("../img/glasses-bg.png") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
}

.subscribe h2 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.subscribe p {
  font-size: 19px;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}

.subscribe .btn {
  background: #ff3366;
  font-size: 18px;
  color: #fff;
  padding: 10px 35px;
  text-transform: uppercase;
}

.subscribe .input-group {
  padding-bottom: 120px;
}

.form {
  background: #2d2f32;
  padding-top: 100px;
  padding-bottom: 90px;
}

.form h2 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}

.form p {
  font-size: 19px;
  color: #9da6ac;
  text-align: center;
  padding-bottom: 30px;
}

.form .forms {
  display: inline-block;
  min-width: 100%;
}

.form input {
  background: transparent;
  max-width: 100%;
  border: 2px solid #585b60;
  height: 55px;
}

.form .form-control::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 500;
  color: #9da6ac;
}

.form .form-control::-moz-placeholder {
  font-size: 15px;
  font-weight: 500;
  color: #9da6ac;
}

.form .form-control:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 500;
  color: #9da6ac;
}

.form .form-control::-ms-input-placeholder {
  font-size: 15px;
  font-weight: 500;
  color: #9da6ac;
}

.form .form-control::placeholder {
  font-size: 15px;
  font-weight: 500;
  color: #9da6ac;
}

.form .message {
  height: 200px;
  padding-bottom: 155px;
  margin-bottom: 30px;
}

.form .btn {
  background: #ff3366;
  color: #fff;
  min-width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  background: #34363a;
  padding-top: 40px;
  padding-bottom: 150px;
}

footer .social {
  margin-bottom: 35px;
}

footer .social a {
  text-decoration: none;
}

footer .social a .fa {
  display: inline-block;
  color: #d0d1d2;
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-right: 10px;
  border: 1px solid #585b60;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 8px;
}

footer .hr {
  width: 325px;
  height: 1px;
  background: #585b60;
  margin-bottom: 35px;
}

footer p {
  text-align: center;
  font-size: 17px;
  color: #585b60;
}

footer p a {
  color: #585b60;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  font-family: 'Montserrat';
  font-size: 17px;
}

.fix {
  background: #ff3366;
  -webkit-box-shadow: 0 8px 15px #000;
          box-shadow: 0 8px 15px #000;
}

.up {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  line-height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media (max-width: 1200px) {
  .clean .item {
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  header .iphone {
    text-align: center;
  }

  .pricing .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  header .iphone h1 {
    font-size: 35px;
  }

  header .iphone p {
    font-size: 17px;
  }
}

@media (max-width: 576px) {
  header .iphone h1 {
    font-size: 30px;
  }

  header .iphone p {
    font-size: 13px;
  }

  header .iphone .btn {
    margin-bottom: 20px;
  }

  header .iphone .btn {
    padding-left: 15px;
    padding-right: 15px;
  }

  .pricing .card {
    margin-bottom: 20px;
  }
}